.section-hero {
  height: 100vh;
  width: 100%;
  background-image: url("./src/assets/Poster.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

button {
  margin: 0;
  padding: 0;
}

span {
  color: white;
  font-size: 2rem;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container {
  padding: 7rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: red; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 7rem;
  align-items: center;
}

.content-hero {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.content-para {
  color: white;
  font-size: 2rem;
  margin-top: 2rem;
}

.heading {
  font-size: 7rem;
  line-height: 6rem;
  color: white;
}

.review-sites {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}

.review-sites p {
  color: white;
  font-size: 1.75rem;
}

.btn {
  padding: 1.5rem 4rem;
  font-size: 1.75rem;
  background-color: #be123c;
  color: white;
  border: none;
  text-decoration: none;
  border-radius: 6px;
  margin-top: 3rem;
}

.btn-header {
  padding: 1rem 3rem;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 1.25rem;
  background-color: transparent;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-field {
  border: 1px solid white;
  padding: 1rem 15rem;
  background-color: transparent;
  border-radius: 6px;
  color: white;
  font-size: 1.25rem;
}

.logo {
  width: 25px;
  height: 25px;
}

.logo-long {
  width: 40px;
  height: 25px;
}

#page2 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  width: 100vw;
  flex-wrap: wrap;
}
