.section-hero {
  min-height: 100vh;
  max-width: 100%;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/moviebox-1d242.appspot.com/o/Poster.png?alt=media&token=f3ffa357-fb4a-4082-a067-adaa95b1fd15");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
span {
  color: white;
  font-size: 2rem;
}
input {
  outline: none;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container {
  padding: 7rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: red; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.75rem 7rem;
  align-items: center;
}

.content-hero {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.content-para {
  color: white;
  font-size: 2rem;
  margin-top: 3rem;
}

.heading {
  font-size: 7rem;
  line-height: 6rem;
  color: white;
}

.review-sites {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}

.review-sites p {
  color: white;
  font-size: 1.75rem;
}

.btn {
  padding: 1.5rem 4rem;
  font-size: 1.75rem;
  background-color: #be123c;
  color: white;
  border: none;
  text-decoration: none;
  border-radius: 6px;
  margin-top: 3rem;
}
.btn i {
  position: relative;
  font-size: 1.2em;
  top: 4px;
}

.btn-header {
  padding: 1rem 3rem;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 1.25rem;
  background-color: transparent;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-field {
  border: 2px solid white;
  padding: 1rem 1rem;
  min-width: 50rem;
  background-color: transparent;
  border-radius: 6px;
  color: white;
  font-size: 1.25rem;
}

.logo {
  width: 25px;
  height: 25px;
}

.logo-long {
  width: 40px;
  height: 25px;
}

/* Media query for tablets and smaller screens */
@media (max-width: 768px) {
  .container {
    padding: 2rem; /* Adjust padding for smaller screens */
  }

  .input-field {
    display: none;
  }

  .navbar {
    padding: 1rem 2rem; /* Adjust padding for smaller screens */
  }

  .content-hero {
    grid-template-columns: 1fr; /* Single column layout for smaller screens */
  }

  .content-para {
    margin-top: 2rem; /* Adjust margin for smaller screens */
  }

  .heading {
    font-size: 5rem; /* Adjust font size for smaller screens */
    line-height: 4rem; /* Adjust line height for smaller screens */
  }

  /* Other style adjustments for smaller screens... */
}
