/* Reset default styles for better consistency */

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
  padding: 5rem;
  overflow: hidden;
}

.login-container {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10rem;
  text-align: center;
  max-width: 130rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.login-container h1 {
  font-size: 2.75rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.input-container {
  text-align: left;
}

.input-group {
  margin-bottom: 15px;
}

label {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

.login-para {
  margin-top: 20px;
  font-size: 1.75rem;
}

.text-link {
  color: #be123c; /* Blue link color */
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: none;
  background-color: #be123c; /* Blue button color */
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

button i {
  margin-right: 10px;
}

#button-google {
  background-color: #be123c; /* Google blue color */
}

/* Media Query for Smaller Devices */
@media (max-width: 768px) {
  .login-container {
    padding: 3rem; /* Adjust padding for smaller screens */
    max-width: 100%; /* Make the container full width */
  }
  .login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
    padding: 0 1.25rem;
  }

  /* You can add more responsive styles here */
}
