.full-page{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
.carousal-container{
    display: flex;
    height: 60vh;
    width: 200%;
    align-items: center;
    background-color: blue;
    gap : 3%;
    overflow-x: scroll;
    overflow-y : hidden;
}