.terms-conditions {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.brand-logo {
  width: 4rem;
}

.copyright-container {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
}
.copyright-para {
  margin: 0;
  font-size: 1.35rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.footer-a {
  font-size: 1.25rem;
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

footer {
  padding-bottom: 2rem;
  padding-top: 1.5rem;
  margin-top: 10rem;
  border-top: 0.5px solid #333;
}

/* Media query for tablets and smaller screens */
@media (max-width: 768px) {
  footer {
    margin-top: 5rem;
  }
}
